@import url('sidebar.css');
@import url(advisee.css);

.add-report{
  margin: 1em;
}
.create-report{
  background: #a41d21;
  padding: 1em;
  border: none;
  border-radius: 10px;
  text-align: center;
  color: white;
}
.report-container{
  padding: .5em;
  
}

.edit-button i{
  color: #a41d21;
  font-size:1.2em;
}
.edit-button {
  border: none;
  padding: .5em;
  border-radius: 10px;
  margin-left: .2em;
}
.edit-button a{
  text-decoration: none;
}

